<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MASS - Login</title>

    <!-- Estilos y fuentes -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .bg-login-custom {
            background-color: #f8f9fc;
        }

        .bg-body-custom {
            background-color: #FFDB58;
        }

        .btn-primary-custom {
            background-color: #DAA520;
            border-color: #DAA520;
            color: black;
        }

        .btn-primary-custom:hover {
            background-color: #B8860B;
            border-color: #B8860B;
        }

        .bg-login-image-custom {
            background: url('https://www.agenciasytiendas.pe/wp-content/uploads/2020/10/Tiendas-Mass-Logo.jpg') center center;
            background-size: cover;
        }
    </style>
</head>

<body class="bg-body-custom">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Estructura de la tarjeta -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image-custom"></div>
                            <div class="col-lg-6 bg-login-custom">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">¡Bienvenido!</h1>
                                    </div>

                                    <!-- Mensajes dinámicos de error -->
                                    <% if (mensaje) { %>
                                        <div class="alert alert-danger">
                                            <%= mensaje %>
                                        </div>
                                    <% } %>

                                    <!-- Formulario de inicio de sesión -->
                                    <form class="user" action="/auth/login" method="POST">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="email" id="email" placeholder="Ingrese su correo" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Contraseña" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe">
                                                <label class="custom-control-label" for="rememberMe">Recuérdame</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block btn-primary-custom">Ingresar</button>
                                    </form>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/forgot-password"></a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/registrarusuario">Crear una cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de estructura -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>
